@import url("https://use.typekit.net/wsv3lwd.css");

$color-beige: #d5c9ba;
$color-light-peach: #e4dbd0;
$color-purple-brown: #231f20;

$font-family-heading: "titling-gothic-fb-extended", sans-serif;
$font-family-body: "gitan-latin", sans-serif;
